name: Pants

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: pantsbuild/actions/init-pants@v5-scie-pants
        with:
          # v0 makes it easy to bust the cache if needed
          # just increase the integer to start with a fresh cache
          gha-cache-key: v0
          named-caches-hash: ${{ hashFiles('python-default.lock') }}
          cache-lmdb-store: 'true'  # defaults to 'false'

      - name: Check BUILD files
        run: "pants tailor --check update-build-files --check ::"
      - name: Lint and typecheck
        run: |
          pants lint check ::
        if: success() || failure()
      - name: Test
        run: |
          pants test :: -- -m "not integration"
        if: success() || failure()
      - name: Test Integration
        run: |
          pants --tag="integration" test --output=all :: -- -m 'integration and not admin'
        env:
          integration_test_secrets: ${{secrets.integration_test_secrets}}
      - name: Upload test coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: dist/coverage/python/coverage.xml
          fail_ci_if_error: true
          verbose: true

      - name: Package
        run: |
          pants package ::

      - name: Upload pants log
        uses: actions/upload-artifact@v4
        with:
          name: pants-log-${{ matrix.python-version }}
          path: .pants.d/pants.log
        if: always() # We want the log even on failures.
